.line {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

$colors: (
  'main': red,
  'primary': blue,
  'secondary': green,
  'tertiary': yellow,
  'neutral': gray,
);

@each $name, $color in $colors {
  .btn-#{$name} {
    color: $color;
  }
}

$bgcolors: (
  'main': red,
  'primary': blue,
  'secondary': green,
  'tertiary': yellow,
  'neutral': gray,
);

@each $name, $color in $bgcolors {
  .btn-bg-#{$name} {
    background-color: $color;
  }
}

$tcolor: (
  'main': red,
  'primary': blue,
  'secondary': green,
  'tertiary': yellow,
  'neutral': gray,
);

@each $name, $color in $tcolor {
  .text-#{$name} {
    color: $color;
  }
}
